"*":
  editor:
    invisibles:
      cr: "↩"
      tab: "⇥"
      eol: " "
    fontFamily: "AnonymousPro"
    fontSize: 12
    showIndentGuide: true
    preferredLineLength: 120
    useShadowDOM: false
    lineHeight: 1
    showInvisibles: true
    autoIndentOnPaste: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "go-plus"
      "block-cursor"
    ]
  "exception-reporting":
    userId: "945a6a94-6c68-2202-46af-428d3a0831bf"
  welcome:
    showOnStartup: false
  linter:
    {}
  "go-plus":
    {}
  "block-cursor":
    primaryColor:
      red: 255
      green: 48
      blue: 158
      alpha: 1
    blinkInterval: 0
    cursorType: "bordered-box"
  "highlight-selected":
    highlightBackground: true
    hideHighlightOnSelectedWord: true
".html.mustache.text":
  editor:
    preferredLineLength: 120
".mustache.source.sql":
  editor:
    preferredLineLength: 120
".raml.source":
  editor:
    preferredLineLength: 120
".shell-session.text":
  editor:
    preferredLineLength: 120
".shell.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
